# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
.next/
out/
.vite/

# Env
.env
.env.local

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store

# DB
*.sqlite3

# superpowers visual companion
.superpowers/

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/**/Generated.xcconfig
mobile/**/flutter_export_environment.sh
mobile/windows/flutter/ephemeral/
mobile/ios/Flutter/flutter_export_environment.sh
mobile/.fvm/
*.iml
